@model FootballLeague.Data.Entities.Function

@{
    ViewData["Title"] = "Details";
}

<h2>Function Details</h2>
<hr />
<div> 
  
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamePosition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamePosition)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning"><i class="fas fa-edit"></i> Edit</a>
    <a asp-action="Index" class="btn btn-success"><i class="fas fa-chevron-left"></i> Back to List</a>
</div>
