
@{
    ViewData["Title"] = "GetSuccess";
}
<div class="shadow-none p-3 mb-5 bg-body-tertiary rounded bg-white">
    <div class="container container-success">
        <h3 class="h1-success">The user has been successfully created </h3>
 
        <div class="link-container">
            <a asp-action="Register" class="more-link">Register New User</a>
            <a asp-action="Register" class="more-link bg-success">Dashboard</a>
       
        </div>
    </div>
</div>

