
@{
    ViewData["Title"] = "GetSuccess";
}

<div class="container container-success">
    <h2 class="h1-success">The user has been successfully created </h2>
 
    <div class="link-container">
        <a asp-action="Register" class="more-link">Register New User</a>
        <a asp-action="Register" class="more-link bg-success">Dashboard</a>
       
    </div>
</div>

