@model FootballLeague.Models.ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
}

<h3>ResetPassword</h3>
<div class="row">
    <div class="col-md-4 offset-md-4 shadow-none p-3 mb-5 bg-body-tertiary rounded bg-white">
        <form asp-action="ResetPassword" method="post" >
            <div asp-validation-summary="ModelOnly"></div>
            <input asp-for="UserId" type="hidden" />
            <input asp-for="Token" type="hidden" />
            
            <div class="form-group">
                <label asp-for="NewPassword">New Password</label>
                <input asp-for="NewPassword" type="password" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">Confirm</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Change password" class="btn btn-primary" />              
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

